#chaveamento{

    display:flex;

    gap:60px;

    overflow-x:auto;

    padding:20px;

    align-items:flex-start;

}

.coluna-fase{

    min-width:260px;

}

.titulo-fase{

    text-align:center;

    font-weight:800;

    color:#1e3a8a;

    margin-bottom:20px;

}

